version: '3.8'

services:
  db:
    image: postgres:15-alpine
    restart: always
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "5433:5432" # Porta do Banco (Isolada da 5432)
    volumes:
      - postgres_data_cloud_design:/var/lib/postgresql/data/

  backend:
    build: ./backend
    restart: always
    env_file: .env
    depends_on:
      - db
    ports:
      - "8002:8000" # Porta do Backend (Isolada da 8000/8001)
    volumes:
      - ./backend/media:/app/media
      - ./backend/staticfiles:/app/staticfiles

  frontend:
    build:
      context: ./frontend
      args:
        - NEXT_PUBLIC_API_URL=${NEXT_PUBLIC_API_URL}
    restart: always
    ports:
      - "3001:3000" # Porta do Frontend (Isolada da 3000)
    depends_on:
      - backend

volumes:
  postgres_data_cloud_design: # Volume de dados isolado