# =========================
# Python / Django
# =========================

# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/
.env.*
.venv/

# Django stuff
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Media & static
/media/
staticfiles/

# Secrets
.env
.env.local
.env.prod

# Migrations cache
**/migrations/__pycache__/

# Test / coverage
htmlcov/
.tox/
.coverage
.coverage.*
.pytest_cache/

# IDEs / Editors
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
